@import "variables";

#configuracion-empresa {
    margin-bottom: 3rem;
    .box-bg {
        background-color: #fff;
        padding: 40px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        width: 75%;
        margin: 0 auto;
        @media only screen and (max-width: 767px) {
            width: auto;
        }
    }
    
    .btn-style-1 {
        width: 50%;
        margin: 25px 0 0 auto;
        display: block;
    }
}