@import "variables";

nav {
    .navbar-brand img {
        max-width: 50px;
        display: block;
    }
    a.nav-link {
        color: #0000008c;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        &.active,
        &:hover, &:focus{
            transition: .3s;
            color: $accentColor2 !important;
        }
    }

    .nav-item .dropdown {
        left: -40px;
    }

    #navbarSupportedContent {
        justify-content: right;
        padding: 0 40px;
    }
}