@import "variables";

.login-page {
    background: rgb(47,49,72);
    background: linear-gradient(90deg, rgba(47,49,72,1) 4%, rgba(88,112,153,1) 50%, rgba(47,49,72,1) 94%);
    
    .box {
        width: fit-content;
        margin: 0 auto;
        background-color: rgba(255,255,255,.09);
        padding: 40px;
        text-align: center;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        p {
            font-size: 18px;
            color: white;
        }
    }

    .box form {
        width: fit-content;
    }
}
