@import "variables";

#tasa {

    main {
        margin: 3rem 0;

        .form-elements {
            width: fit-content;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px 30px 20px;
        }

        .input-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}