@import "variables";

.modal {
    .modal-title {
        font-size: 20px;
        color: $accentColor;
        margin-left: 10px;
    }

    .btn-style-1 {
        margin: 25px 0 15px auto;
        display: block;
        width: 50%;
    }

    form .form-label {
        margin-left: 10px;
    }
}