@import "variables";

#configuracion-empresa {
    margin-bottom: 3rem;
    .box-bg {
        width: 75%;
        @media only screen and (max-width: 767px) {
            width: auto;
            padding: 25px;
        }
    }
    
    .btn-style-1 {
        width: 50%;
        margin: 25px 0 0 auto;
        display: block;
    }
}